In [1]:
import sys

import datetime
import pickle

import numpy as np
import pandas as pd
import operator
import random
from  scipy import stats



from scipy.stats import norm
from sklearn.neighbors import KernelDensity



import plotly.plotly as py
import plotly.graph_objs as go
from plotly import tools
import plotly.figure_factory as ff

import plotly
plotly.tools.set_credentials_file(username='juliettapc', api_key='nM6iUdx6dGaOiPXQTwpP')   # go to: https://plot.ly/settings/api#/   for a new key if needed

########## to be able to plot offline (without sending the plots to the plotly server every time)
import plotly.offline as offline
from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
################



from IPython.core.display import display,HTML
display(HTML("<style>.container { width:100% !important; }</style>"))  # to make the notebook use the entire width of the browser

In [2]:

df_crime_tot =pd.read_csv('../Data/Mine/Crime_TOTAL_US_1960_2014_Added_per100000.csv')

df_crime_tot

,Year,Population,Violent crime total,Murder and nonnegligent Manslaughter,Murder_per100000,Legacy rape /1,Revised rape /2,Robbery,Aggravated assault
0,1960,179323175,288460,9110.0,5.080213,17190.0,NaN,107840.0,154320.0
1,1961,182992000,289390,8740.0,4.776165,17220.0,NaN,106670.0,156760.0
2,1962,185771000,301510,8530.0,4.591675,17550.0,NaN,110860.0,164570.0
3,1963,188483000,316970,8640.0,4.583968,17650.0,NaN,116470.0,174210.0
4,1964,191141000,364220,9360.0,4.896909,21420.0,NaN,130390.0,203050.0
5,1965,193526000,387390,9960.0,5.146595,23410.0,NaN,138690.0,215330.0
6,1966,195576000,430180,11040.0,5.644864,25820.0,NaN,157990.0,235330.0
7,1967,197457000,499930,12240.0,6.198818,27620.0,NaN,202910.0,257160.0
8,1968,199399000,595010,13800.0,6.920797,31670.0,NaN,262840.0,286700.0
9,1969,201385000,661870,14760.0,7.329245,37170.0,NaN,298850.0,311090.0
10,1970,203235298,738820,16000.0,7.872648,37990.0,NaN,349860.0,334970.0
11,1971,206212000,816500,17780.0,8.622195,42260.0,NaN,387700.0,368760.0
12,1972,208230000,834900,18670.0,8.966047,46850.0,NaN,376290.0,393090.0
13,1973,209851000,875910,19640.0,9.359021,51400.0,NaN,384220.0,420650.0
14,1974,211392000,974720,20710.0,9.796965,55400.0,NaN,442400.0,456210.0
15,1975,213124000,1039710,20510.0,9.623506,56090.0,NaN,470500.0,492620.0
16,1976,214659000,1004210,18780.0,8.748760,57080.0,NaN,427810.0,500530.0
17,1977,216332000,1029580,19120.0,8.838267,63500.0,NaN,412610.0,534350.0
18,1978,218059000,1085550,19560.0,8.970049,67610.0,NaN,426930.0,571460.0
19,1979,220099000,1208030,21460.0,9.750158,76390.0,NaN,480700.0,629480.0
20,1980,225349264,1344520,23040.0,10.224129,82990.0,NaN,565840.0,672650.0
21,1981,229465714,1361820,22520.0,9.814102,82500.0,NaN,592910.0,663900.0
22,1982,231664458,1322390,21010.0,9.069151,78770.0,NaN,553130.0,669480.0
23,1983,233791994,1258087,19308.0,8.258623,78918.0,NaN,506567.0,653294.0
24,1984,235824902,1273282,18692.0,7.926220,84233.0,NaN,485008.0,685349.0
25,1985,237923795,1327767,18976.0,7.975663,87671.0,NaN,497874.0,723246.0
26,1986,240132887,1489169,20613.0,8.583997,91459.0,NaN,542775.0,834322.0
27,1987,242288918,1483999,20096.0,8.294230,91111.0,NaN,517704.0,855088.0
28,1988,244498982,1566221,20675.0,8.456068,92486.0,NaN,542968.0,910092.0
29,1989,246819230,1646037,21500.0,8.710829,94504.0,NaN,578326.0,951707.0
...,...,...,...,...,...,...,...,...,...
43,2003,290788976,1383676,16528.0,5.683847,93883.0,NaN,414235.0,859030.0
44,2004,293656842,1360088,16148.0,5.498935,95089.0,NaN,401470.0,847381.0
45,2005,296507061,1390745,16740.0,5.645734,94347.0,NaN,417438.0,862220.0
46,2006,299398484,1435123,17309.0,5.781258,94472.0,NaN,449246.0,874096.0
47,2007,301621157,1422970,17128.0,5.678647,92160.0,NaN,447324.0,866358.0
48,2008,304059724,1394461,16465.0,5.415055,90750.0,NaN,443563.0,843683.0
49,2009,307006550,1325896,15399.0,5.015854,89241.0,NaN,408742.0,812514.0
50,2010,309330219,1251248,14722.0,4.759315,85593.0,NaN,369089.0,781844.0
51,2011,311587816,1206031,14661.0,4.705255,84175.0,NaN,354772.0,752423.0
52,2012,313873685,1217067,14866.0,4.736300,85141.0,NaN,355051.0,762009.0
53,2013,316497531,1199684,14319.0,4.524206,82109.0,113695.0,345095.0,726575.0
54,2014,318857056,1197987,14249.0,4.468774,84041.0,116645.0,325802.0,741291.0
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,\t\t,1. The figures shown in this column for the of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,\t\t,2. The figures shown in this column for the of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,\t\t,Notes:,National or state offense totals are based on ...,NaN,NaN,NaN,NaN,NaN,NaN
64,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,United States-Total -,NaN,NaN,NaN,NaN,NaN,NaN
67,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,The 168 murder and nonnegligent homicides that...,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,"The 2,823 murder and nonnegligent homicides th...",NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,"Sources: FBI, Uniform Crime Reports, prepared ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Date of download: Feb 01 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

df_crime_state_by_state =pd.read_csv('../Data/Mine/CrimeStatebyState_1960-2014_added_per100000.csv')

df_crime_state_by_state

,State,Year,Population,Violent_crime_total,Murder_and_nonnegligent_Manslaughter,Murder_per100000,Legacy_rape_/1,Revised_rape_/2,Robbery,Aggravated_assault
0,Alabama,1960,3266740,6097,406,12.428292,281,NaN,898,4512
1,Alabama,1961,3302000,5564,427,12.931557,252,NaN,630,4255
2,Alabama,1962,3358000,5283,316,9.410363,218,NaN,754,3995
3,Alabama,1963,3347000,6115,340,10.158351,192,NaN,828,4755
4,Alabama,1964,3407000,7260,316,9.275022,397,NaN,992,5555
5,Alabama,1965,3462000,6916,395,11.409590,367,NaN,992,5162
6,Alabama,1966,3517000,8098,384,10.918396,341,NaN,1124,6249
7,Alabama,1967,3540000,8448,415,11.723164,371,NaN,1167,6495
8,Alabama,1968,3566000,8288,421,11.805945,396,NaN,1462,6009
9,Alabama,1969,3531000,8842,485,13.735486,494,NaN,1448,6415
10,Alabama,1970,3444165,10185,404,11.729984,637,NaN,1731,7413
11,Alabama,1971,3479000,10835,524,15.061799,661,NaN,2005,7645
12,Alabama,1972,3510000,10994,496,14.131054,660,NaN,2407,7431
13,Alabama,1973,3539000,12390,468,13.224075,751,NaN,2809,8362
14,Alabama,1974,3577000,13338,536,14.984624,811,NaN,3562,8429
15,Alabama,1975,3614000,14201,577,15.965689,738,NaN,4446,8440
16,Alabama,1976,3665000,14248,553,15.088677,794,NaN,3520,9381
17,Alabama,1977,3690000,15293,524,14.200542,929,NaN,3572,10268
18,Alabama,1978,3742000,15682,499,13.335115,954,NaN,3708,10521
19,Alabama,1979,3769000,15578,496,13.159989,1037,NaN,4127,9918
20,Alabama,1980,3861466,17320,509,13.181522,1158,NaN,5102,10551
21,Alabama,1981,3916000,18423,465,11.874362,1021,NaN,4952,11985
22,Alabama,1982,3943000,17653,417,10.575704,1026,NaN,4417,11793
23,Alabama,1983,3959000,16471,364,9.194241,931,NaN,3895,11281
24,Alabama,1984,3990000,17204,374,9.373434,1002,NaN,3833,11995
25,Alabama,1985,4021000,18398,396,9.848296,1079,NaN,4237,12686
26,Alabama,1986,4053000,22616,409,10.091290,1150,NaN,4523,16534
27,Alabama,1987,4083000,22833,380,9.306882,1137,NaN,4581,16735
28,Alabama,1988,4127000,23052,408,9.886116,1228,NaN,4860,16556
29,Alabama,1989,4118000,24329,421,10.223409,1276,NaN,5515,17117
...,...,...,...,...,...,...,...,...,...,...
2770,Wyoming,1985,509000,1307,22,4.322200,114,NaN,102,1069
2771,Wyoming,1986,507000,1486,27,5.325444,111,NaN,114,1234
2772,Wyoming,1987,490000,1387,10,2.040816,154,NaN,98,1125
2773,Wyoming,1988,471000,1479,12,2.547771,113,NaN,71,1283
2774,Wyoming,1989,475000,1227,21,4.421053,134,NaN,81,991
2775,Wyoming,1990,453588,1367,22,4.850216,134,NaN,72,1139
2776,Wyoming,1991,460000,1427,15,3.260870,119,NaN,79,1214
2777,Wyoming,1992,466000,1489,17,3.648069,163,NaN,84,1225
2778,Wyoming,1993,470000,1345,16,3.404255,161,NaN,81,1087
2779,Wyoming,1994,476000,1297,16,3.361345,160,NaN,79,1042
2780,Wyoming,1995,480000,1220,10,2.083333,165,NaN,86,959
2781,Wyoming,1996,481000,1201,16,3.326403,140,NaN,98,947
2782,Wyoming,1997,480000,1225,17,3.541667,137,NaN,85,986
2783,Wyoming,1998,481000,1191,23,4.781705,133,NaN,78,957
2784,Wyoming,1999,479602,1115,11,2.293568,137,NaN,74,893
2785,Wyoming,2000,493782,1316,12,2.430222,160,NaN,70,1074
2786,Wyoming,2001,493754,1272,9,1.822770,153,NaN,84,1026
2787,Wyoming,2002,498830,1364,15,3.007036,148,NaN,93,1108
2788,Wyoming,2003,502111,1314,14,2.788228,136,NaN,84,1080
2789,Wyoming,2004,505887,1163,11,2.174399,112,NaN,67,973
2790,Wyoming,2005,508798,1172,14,2.751583,122,NaN,78,958
2791,Wyoming,2006,515004,1307,13,2.524252,151,NaN,72,1071
2792,Wyoming,2007,522830,1344,21,4.016602,172,NaN,84,1067
2793,Wyoming,2008,532668,1330,12,2.252810,185,NaN,87,1046
2794,Wyoming,2009,544270,1196,11,2.021056,172,NaN,78,935
2795,Wyoming,2010,564554,1117,8,1.417048,162,NaN,77,870
2796,Wyoming,2011,567356,1245,18,3.172611,146,NaN,71,1010
2797,Wyoming,2012,576626,1161,14,2.427917,154,NaN,61,932
2798,Wyoming,2013,583223,1212,17,2.914837,144,204.0,74,917
2799,Wyoming,2014,584153,1142,16,2.739008,126,174.0,53,899

In [5]:
df_sected_crime = df_crime_state_by_state[df_crime_state_by_state['State']== 'Alabama' ]

df_sected_crime

,State,Year,Population,Violent_crime_total,Murder_and_nonnegligent_Manslaughter,Murder_per100000,Legacy_rape_/1,Revised_rape_/2,Robbery,Aggravated_assault
0,Alabama,1960,3266740,6097,406,12.428292,281,NaN,898,4512
1,Alabama,1961,3302000,5564,427,12.931557,252,NaN,630,4255
2,Alabama,1962,3358000,5283,316,9.410363,218,NaN,754,3995
3,Alabama,1963,3347000,6115,340,10.158351,192,NaN,828,4755
4,Alabama,1964,3407000,7260,316,9.275022,397,NaN,992,5555
5,Alabama,1965,3462000,6916,395,11.409590,367,NaN,992,5162
6,Alabama,1966,3517000,8098,384,10.918396,341,NaN,1124,6249
7,Alabama,1967,3540000,8448,415,11.723164,371,NaN,1167,6495
8,Alabama,1968,3566000,8288,421,11.805945,396,NaN,1462,6009
9,Alabama,1969,3531000,8842,485,13.735486,494,NaN,1448,6415
10,Alabama,1970,3444165,10185,404,11.729984,637,NaN,1731,7413
11,Alabama,1971,3479000,10835,524,15.061799,661,NaN,2005,7645
12,Alabama,1972,3510000,10994,496,14.131054,660,NaN,2407,7431
13,Alabama,1973,3539000,12390,468,13.224075,751,NaN,2809,8362
14,Alabama,1974,3577000,13338,536,14.984624,811,NaN,3562,8429
15,Alabama,1975,3614000,14201,577,15.965689,738,NaN,4446,8440
16,Alabama,1976,3665000,14248,553,15.088677,794,NaN,3520,9381
17,Alabama,1977,3690000,15293,524,14.200542,929,NaN,3572,10268
18,Alabama,1978,3742000,15682,499,13.335115,954,NaN,3708,10521
19,Alabama,1979,3769000,15578,496,13.159989,1037,NaN,4127,9918
20,Alabama,1980,3861466,17320,509,13.181522,1158,NaN,5102,10551
21,Alabama,1981,3916000,18423,465,11.874362,1021,NaN,4952,11985
22,Alabama,1982,3943000,17653,417,10.575704,1026,NaN,4417,11793
23,Alabama,1983,3959000,16471,364,9.194241,931,NaN,3895,11281
24,Alabama,1984,3990000,17204,374,9.373434,1002,NaN,3833,11995
25,Alabama,1985,4021000,18398,396,9.848296,1079,NaN,4237,12686
26,Alabama,1986,4053000,22616,409,10.091290,1150,NaN,4523,16534
27,Alabama,1987,4083000,22833,380,9.306882,1137,NaN,4581,16735
28,Alabama,1988,4127000,23052,408,9.886116,1228,NaN,4860,16556
29,Alabama,1989,4118000,24329,421,10.223409,1276,NaN,5515,17117
30,Alabama,1990,4040587,28630,467,11.557727,1319,NaN,5805,21039
31,Alabama,1991,4089000,34518,469,11.469797,1455,NaN,6246,26348
32,Alabama,1992,4136000,36052,455,11.000967,1704,NaN,6819,27074
33,Alabama,1993,4187000,32676,484,11.559589,1471,NaN,6677,24044
34,Alabama,1994,4219000,28844,501,11.874852,1487,NaN,7223,19633
35,Alabama,1995,4253000,26894,475,11.168587,1350,NaN,7900,17169
36,Alabama,1996,4273000,24159,444,10.390826,1397,NaN,7124,15194
37,Alabama,1997,4319000,24379,426,9.863394,1396,NaN,6931,15626
38,Alabama,1998,4352000,22286,354,8.134191,1443,NaN,5698,14791
39,Alabama,1999,4369862,21421,345,7.894986,1513,NaN,5297,14266
40,Alabama,2000,4447100,21620,329,7.398080,1482,NaN,5702,14107
41,Alabama,2001,4468912,19582,379,8.480811,1369,NaN,5584,12250
42,Alabama,2002,4478896,19931,303,6.765060,1664,NaN,5962,12002
43,Alabama,2003,4503726,19331,299,6.638947,1656,NaN,6038,11338
44,Alabama,2004,4525375,19324,254,5.612795,1742,NaN,6042,11286
45,Alabama,2005,4548327,19678,374,8.222804,1564,NaN,6447,11293
46,Alabama,2006,4599030,19553,382,8.306099,1646,NaN,7062,10463
47,Alabama,2007,4627851,20775,412,8.902620,1548,NaN,7398,11417
48,Alabama,2008,4661900,21110,351,7.529119,1618,NaN,7346,11795
49,Alabama,2009,4708708,21194,322,6.838394,1504,NaN,6265,13103
50,Alabama,2010,4785401,18363,275,5.746645,1355,NaN,4864,11869
51,Alabama,2011,4803689,20166,299,6.224383,1370,NaN,4906,13591
52,Alabama,2012,4817528,21693,342,7.099077,1296,NaN,5020,15035
53,Alabama,2013,4833996,20834,346,7.157639,1449,2055.0,4645,13788
54,Alabama,2014,4849377,20727,276,5.691453,1436,2005.0,4701,13745

In [6]:
# Create and style traces

data = []

trace0 = go.Scatter(
    x = df_crime_tot['Year'],
    y = df_crime_tot['Murder_per100000'],
    name = 'tot. US crime',
#     line = dict(
#         color = ('rgb(205, 12, 24)'),
#         width = 4)
)
data.append(trace0)

for state in df_crime_state_by_state.State.unique():
    
    df_sected_crime = df_crime_state_by_state[df_crime_state_by_state['State']== state ]
    
    
    trace1 = go.Scatter(
        x = df_sected_crime['Year'],
        y = df_sected_crime['Murder_per100000'],
        name = state,

    )
    data.append(trace1)

    
# Edit the layout
layout = dict(
#     title = 'Average High and Low Temperatures in New York',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Average number of murders per 100,000 people'),
              )

fig = dict(data=data, layout=layout)



offline.plot(fig, auto_open=True, image = 'png', image_filename="time_evol_tot_crime" ,image_width=2000, image_height=1000, 
              filename='/home/staff/julia/at_Northwestern/US_Crime/Figures/time_evol_tot_crime.html', validate=True)

'file:///home/staff/julia/at_Northwestern/US_Crime/Figures/time_evol_tot_crime.html'

In [44]:
df_sected_crime = df_crime_state_by_state[df_crime_state_by_state['State']!= 'District of Columbia' ]

df_sected_crime = df_sected_crime[df_sected_crime['Year']== 2000 ]
  
 
    
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


data = [ dict(
        type='choropleth',
        colorscale = scl,
       # autocolorscale = False,
        locations = df_sected_crime['State'],
        z = df_sected_crime['Murder_per100000'],
        locationmode = 'USA-states',
        text = df_sected_crime['State'],
#         marker = dict(
#             line = dict (
#                 color = 'rgb(255,255,255)',
#                 width = 2
#             ) ),
        colorbar = dict(
            title = "murders per 100,000 people")
        ) ]

layout = dict(
        #title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )


offline.plot(fig, auto_open=True, image = 'png', image_filename="d3-cloropleth-map" ,image_width=2000, image_height=1000, 
              filename='/home/staff/julia/at_Northwestern/US_Crime/Figures/d3-cloropleth-map.html', validate=True)

'file:///home/staff/julia/at_Northwestern/US_Crime/Figures/d3-cloropleth-map.html'

In [36]:
df_sected_crime.Murder_per100000.mean()

4.6415230832420002

In [46]:

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['state'] + '<br>' +\
    'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
    'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
    'Wheat '+df['wheat']+' Corn '+df['corn']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['total exports'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )