In [1]:
import sys
sys.path.append('..')
import glob
import pandas as pd

In [2]:
import support.data_functions as dfunc

In [3]:
crimedf = dfunc.load_all_crime()

In [4]:
mdf = dfunc.produce_merged_dataframe()

In [5]:
unemploymentdf = dfunc.load_city_unemployment()

In [6]:
udfset = [(fname.split('/')[-1].split('.csv')[0], pd.read_csv(fname)) \
          for fname in glob.glob('../../Data/unemployment/*csv')]

In [7]:
ids = []
for cname, tdf in udfset:
    city, state = cname.split('_')
    ids.append([city, state, tdf['Series ID'][0]])

In [8]:
id_df = pd.DataFrame(ids, columns=['City', 'State', 'ID'])

In [9]:
id_df['Combined'] = id_df['City'] + id_df['State']
crimedf['Combined'] = crimedf['City'] + crimedf['State']

In [10]:
mergedf = pd.merge(crimedf, id_df, on='Combined')

In [11]:
mergedf.head()

,Year,Murder,Robbery,Assault,Burglary,State_x,City_x,Combined,City_y,State_y,ID
0,1960,175,507,2309,4073,AL,Birmingham,BirminghamAL,Birmingham,AL,LAUCT010700000000003
1,1961,151,303,1802,4052,AL,Birmingham,BirminghamAL,Birmingham,AL,LAUCT010700000000003
2,1962,159,524,1332,4183,AL,Birmingham,BirminghamAL,Birmingham,AL,LAUCT010700000000003
3,1963,141,305,1892,5360,AL,Birmingham,BirminghamAL,Birmingham,AL,LAUCT010700000000003
4,1964,130,611,2042,6957,AL,Birmingham,BirminghamAL,Birmingham,AL,LAUCT010700000000003

In [12]:
mergedf.loc[: , ['City_x', 'State_x', 'Combined', 'ID', 'Year', 'Murder']].to_csv('to_phil.csv')